@model Supermercado.Models.Usuario

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.LabelFor(u => u.NombreUsuario)
        @Html.EditorFor(m => m.NombreUsuario)
     
        @Html.LabelFor(m => m.ClaveUsuario)
        @Html.EditorFor(m => m.ClaveUsuario)

        <input type="submit" value="Login" />
    }



</div>
